WEATHERAPI_API_KEY=xxxxxxxxxxxxxxxxxx
MONGO_URL=mongodb+srv://usr:pwd@xxxx.aaaaa.gcp.mongodb.net/contactos?retryWrites=true&w=majority
MONGO_URL_TEST=mongodb+srv://usr:pwd@xxxx.aaaaa.gcp.mongodb.net/contactosTest?retryWrites=true&w=majority